services:
    mysql:
        image: mysql:8.0
        container_name: mysql-server
        restart: unless-stopped
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: 123321
        volumes:
            - ./mysql/data:/var/lib/mysql
            - ./mysql/conf:/etc/mysql/conf.d
            - ./mysql/logs:/var/log/mysql
        command:
            --default-authentication-plugin=mysql_native_password
            --character-set-server=utf8mb4
            --collation-server=utf8mb4_unicode_ci

    neo4j:
        image: neo4j:5.26.2
        container_name: neo4j
        restart: unless-stopped
        ports:
        - "7474:7474"
        - "7687:7687"
        environment:
        - NEO4J_AUTH=neo4j/password
        # 内存设置
        - NEO4J_server_memory_pagecache_size=2G
        - NEO4J_server_memory_heap_max__size=4G
        volumes:
        - ./neo4j/data:/data
        - ./neo4j/logs:/logs

    pgvector:
        image: pgvector/pgvector:pg18-trixie
        container_name: pgvector
        restart: unless-stopped
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: 123321
            POSTGRES_DB: postgres
        volumes:
            - ./pg/data:/var/lib/postgresql
